<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title>StuCor</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="card-center">
    <ion-card-header>
      <div class="ion-text-center">
        <ion-card-title>Welcome to StuCor</ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="primary" [routerLink]="['/registration']"  shape="round">
        Register
      </ion-button>
      <ion-button expand="block" color="success" shape="round" [routerLink]="['/login']">
        Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
