<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">English</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <p>1. What is called as English Language?</p><br>
            <ion-list>
              <ion-radio-group name="auto" value="tesla">
                <ion-item>
                  <ion-label>1. Spoken Language</ion-label>
                  <ion-radio value="spoken"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>2. Written Language</ion-label>
                  <ion-radio value="written"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>3. Reading Language</ion-label>
                  <ion-radio value="reading"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>4. Listening Language</ion-label>
                  <ion-radio value="listening"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <p>2. What is called as English?</p><br>
            <ion-list>
              <ion-radio-group name="auto" value="">
                <ion-item>
                  <ion-label>1. Spoken Language</ion-label>
                  <ion-radio value="spoken"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>2. Written Language</ion-label>
                  <ion-radio value="written"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>3. Reading Language</ion-label>
                  <ion-radio value="reading"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>4. Listening Language</ion-label>
                  <ion-radio value="listening"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <p>3. What is called as English Language?</p><br>
            <ion-list>
              <ion-radio-group name="auto" value="tesla">
                <ion-item>
                  <ion-label>1. Spoken Language</ion-label>
                  <ion-radio value="spoken"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>2. Written Language</ion-label>
                  <ion-radio value="written"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>3. Reading Language</ion-label>
                  <ion-radio value="reading"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>4. Listening Language</ion-label>
                  <ion-radio value="listening"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <p>4. What is called as English Language?</p><br>
            <ion-list>
              <ion-radio-group name="auto" value="tesla">
                <ion-item>
                  <ion-label>1. Spoken Language</ion-label>
                  <ion-radio value="spoken"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>2. Written Language</ion-label>
                  <ion-radio value="written"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>3. Reading Language</ion-label>
                  <ion-radio value="reading"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>4. Listening Language</ion-label>
                  <ion-radio value="listening"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
