<ion-app>
    <ion-menu side="start" menuId="menu-content" contentId="menu-content" type="overlay">
        <ion-header>
            <ion-toolbar translucent color="primary">
                <ion-title>Profile</ion-title>
                <ion-avatar slot="end">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" width="30" height="70">
                </ion-avatar>
            </ion-toolbar>
        </ion-header>
        <ion-content color="primary">
            <ion-list>
                <ion-item href="" color="primary">
                    <ion-icon slot="start" name="person"></ion-icon>
                    <ion-label>Profile</ion-label>
                </ion-item>
                <ion-item href="" color="primary">
                    <ion-icon slot="start" name="chatbubbles"></ion-icon>
                    <ion-label>Messages</ion-label>
                </ion-item>
                <ion-item href="" color="primary">
                    <ion-icon slot="start" name="settings"></ion-icon>
                    <ion-label>Settings</ion-label>
                </ion-item>
                <ion-item [routerLink]="['/login']" color="primary">
                    <ion-icon slot="start" name="log-out"></ion-icon>
                    <ion-label>Logout</ion-label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="menu-content"></ion-router-outlet>

    <div class="ion-page">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>Home</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content padding class="ion-padding" fullscreen>
            <!-- <img class="title-image" src="../../assets/happy.svg" width="350" height="100" /> -->
            <ion-row color="primary">
                <ion-col>
                  <a [routerLink]="['/tamil']" style="text-decoration: none;">
                    <ion-card>
                        <ion-card-content style="text-align: center;">
                            <ion-card-title>Tamil</ion-card-title>
                        </ion-card-content>
                      </ion-card>
                  </a>
                </ion-col>
                <ion-col>
                    <a [routerLink]="['/english']" style="text-decoration: none;">
                        <ion-card>
                            <ion-card-content style="text-align: center;">
                                <ion-card-title>English</ion-card-title>
                            </ion-card-content>
                          </ion-card>
                    </a>
                </ion-col>
                <ion-col>
                    <a [routerLink]="['/maths']" style="text-decoration: none;">
                        <ion-card>
                            <ion-card-content style="text-align: center;">
                                <ion-card-title>Mathematics</ion-card-title>
                            </ion-card-content>
                          </ion-card>
                    </a>
                </ion-col>
              </ion-row>

              <ion-row color="primary">
                <ion-col>
                  <a [routerLink]="['/science']" style="text-decoration: none;">
                    <ion-card>
                        <ion-card-content style="text-align: center;">
                            <ion-card-title>Science</ion-card-title>
                        </ion-card-content>
                      </ion-card>
                  </a>
                </ion-col>
                <ion-col>
                    <a [routerLink]="['/socialscience']" style="text-decoration: none;">
                        <ion-card>
                            <ion-card-content style="text-align: center;">
                                <ion-card-title>Social Science</ion-card-title>
                            </ion-card-content>
                          </ion-card>
                    </a>
                </ion-col>
                <!-- <ion-col>
                    <a routerLink="tamil" style="text-decoration: none;">
                        <ion-card>
                            <ion-card-content>
                                <ion-card-title>Others</ion-card-title>
                            </ion-card-content>
                          </ion-card>
                    </a>
                </ion-col> -->
              </ion-row>
        </ion-content>
    </div>
</ion-app>
